[submodule "bundle/omnisharp-vim"]
	path = bundle/omnisharp-vim
	url = https://github.com/OmniSharp/omnisharp-vim
[submodule "bundle/vim-dispatch"]
	path = bundle/vim-dispatch
	url = https://github.com/tpope/vim-dispatch
